html,
body {
    width: 300px;
    margin: 0;
    padding: 0;
    font-family: helvetica, serif;
    background-color: #14181c;
}

body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 24px;
    color: #d8e0e8;
    font-weight: bolder;
}

h2 {
    font-size: 16px;
    font-weight: normal;
}

input[type='radio'] {
    accent-color: #00c030;
}

.settings-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settings-container > * {
    color: #d8e0e8;
}

.setting-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.setting-section h2 {
    margin: 0;
    flex-shrink: 0;
}

.radio-group {
    display: flex;
    flex-direction: row;
}

.radio-group label {
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;
}
