html,
body {
    width: 200px;
    margin: 0;
    padding: 0;
    font-family: helvetica, serif;
    background-color: #14181c;
}

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #d8e0e8;
    font-weight: bolder;
}

input {
    accent-color: #00c030;
}

.settings-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settings-container > * {
    color: #d8e0e8;
}

.setting-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
